In [58]:
#Load libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import model_selection
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier, export_graphviz

In [59]:
#Load data from url
url = "https://raw.githubusercontent.com/callxpert/datasets/master/Loan-applicant-details.csv"
names = ['Loan_ID','Gender','Married','Dependents','Education','Self_Employed','ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History','Property_Area','Loan_Status']
dataset = pd.read_csv(url, names=names)
dataset

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128,360,1,Rural,N
1,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66,360,1,Urban,Y
2,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120,360,1,Urban,Y
3,LP001008,Male,No,0,Graduate,No,6000,0.0,141,360,1,Urban,Y
4,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267,360,1,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,LP002978,Female,No,0,Graduate,No,2900,0.0,71,360,1,Rural,Y
476,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40,180,1,Rural,Y
477,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253,360,1,Urban,Y
478,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187,360,1,Urban,Y
479,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133,360,0,Semiurban,N

In [60]:
dataset.head(20)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128,360,1,Rural,N
1,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66,360,1,Urban,Y
2,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120,360,1,Urban,Y
3,LP001008,Male,No,0,Graduate,No,6000,0.0,141,360,1,Urban,Y
4,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267,360,1,Urban,Y
5,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95,360,1,Urban,Y
6,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158,360,0,Semiurban,N
7,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168,360,1,Urban,Y
8,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349,360,1,Semiurban,N
9,LP001024,Male,Yes,2,Graduate,No,3200,700.0,70,360,1,Urban,Y
10,LP001028,Male,Yes,2,Graduate,No,3073,8106.0,200,360,1,Urban,Y
11,LP001029,Male,No,0,Graduate,No,1853,2840.0,114,360,1,Rural,N
12,LP001030,Male,Yes,2,Graduate,No,1299,1086.0,17,120,1,Urban,Y
13,LP001032,Male,No,0,Graduate,No,4950,0.0,125,360,1,Urban,Y
14,LP001036,Female,No,0,Graduate,No,3510,0.0,76,360,0,Urban,N
15,LP001038,Male,Yes,0,Not Graduate,No,4887,0.0,133,360,1,Rural,N
16,LP001043,Male,Yes,0,Not Graduate,No,7660,0.0,104,360,0,Urban,N
17,LP001046,Male,Yes,1,Graduate,No,5955,5625.0,315,360,1,Urban,Y
18,LP001047,Male,Yes,0,Not Graduate,No,2600,1911.0,116,360,0,Semiurban,N
19,LP001066,Male,Yes,0,Graduate,Yes,9560,0.0,191,360,1,Semiurban,Y

In [61]:
from sklearn.preprocessing import LabelEncoder
var_mod = ['Gender','Married','Dependents','Education','Self_Employed','Property_Area','Loan_Status']
le = LabelEncoder()
for i in var_mod:
    dataset[i] = le.fit_transform(dataset[i])

In [62]:
dataset

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,1,1,1,0,0,4583,1508.0,128,360,1,0,0
1,LP001005,1,1,0,0,1,3000,0.0,66,360,1,2,1
2,LP001006,1,1,0,1,0,2583,2358.0,120,360,1,2,1
3,LP001008,1,0,0,0,0,6000,0.0,141,360,1,2,1
4,LP001011,1,1,2,0,1,5417,4196.0,267,360,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,LP002978,0,0,0,0,0,2900,0.0,71,360,1,0,1
476,LP002979,1,1,3,0,0,4106,0.0,40,180,1,0,1
477,LP002983,1,1,1,0,0,8072,240.0,253,360,1,2,1
478,LP002984,1,1,2,0,0,7583,0.0,187,360,1,2,1
479,LP002990,0,0,0,0,1,4583,0.0,133,360,0,1,0

In [63]:
array=dataset.values
array

array([['LP001003', 1, 1, ..., 1, 0, 0],
       ['LP001005', 1, 1, ..., 1, 2, 1],
       ['LP001006', 1, 1, ..., 1, 2, 1],
       ...,
       ['LP002983', 1, 1, ..., 1, 2, 1],
       ['LP002984', 1, 1, ..., 1, 2, 1],
       ['LP002990', 0, 0, ..., 0, 1, 0]], dtype=object)

In [64]:
X=array[:,6:11]
X

array([[4583, 1508.0, 128, 360, 1],
       [3000, 0.0, 66, 360, 1],
       [2583, 2358.0, 120, 360, 1],
       ...,
       [8072, 240.0, 253, 360, 1],
       [7583, 0.0, 187, 360, 1],
       [4583, 0.0, 133, 360, 0]], dtype=object)

In [65]:
Y = array[:,12]
Y=Y.astype('int')
Y

array([0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1,
       0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1,
       0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1,
       0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0])

In [66]:
test = array[:,6]
test

array([4583, 3000, 2583, 6000, 5417, 2333, 3036, 4006, 12841, 3200, 3073,
       1853, 1299, 4950, 3510, 4887, 7660, 5955, 2600, 9560, 2799, 4226,
       1442, 3167, 4692, 3500, 12500, 3667, 4166, 3748, 3600, 1800, 3941,
       5649, 5821, 2645, 4000, 1928, 3086, 4230, 4616, 11500, 2708, 2132,
       3366, 8080, 3357, 2500, 3029, 2609, 4166, 5726, 3200, 10750, 7100,
       4300, 3208, 1875, 3500, 5266, 3750, 3750, 1000, 3167, 3846, 1378,
       3988, 2366, 2500, 8566, 5695, 2958, 6250, 3273, 4133, 3620, 2484,
       1977, 4188, 1759, 4288, 4843, 3052, 11417, 3800, 2071, 5316, 14583,
       3167, 5568, 10408, 4166, 2137, 2957, 4300, 10513, 2014, 2718, 3459,
       4895, 4000, 4583, 3316, 14999, 4200, 5042, 5417, 6950, 2698, 11757,
       2330, 14866, 1538, 10000, 4860, 6277, 2577, 9166, 2281, 3254,
       39999, 9538, 4583, 1863, 7933, 3089, 4167, 9323, 4583, 2439, 2237,
       8000, 3522, 5708, 4344, 3497, 2045, 5516, 3750, 2333, 6400, 4600,
       33846, 3625, 39147, 2178, 9328, 4885, 12000, 6033, 3858, 4191,
       3125, 8333, 11000, 2600, 4923, 3500, 3917, 4408, 3244, 3975, 2479,
       3418, 10000, 3430, 7787, 5703, 3173, 3850, 150, 3727, 2221, 4009,
       2971, 6250, 3250, 6250, 6400, 2491, 8333, 3155, 5500, 3812, 3315,
       5819, 2510, 2965, 6250, 3406, 6050, 9703, 6608, 2882, 1809, 1668,
       3427, 2583, 2661, 16250, 3083, 6045, 5250, 14683, 2060, 3481, 7200,
       5166, 4095, 4708, 4333, 2876, 3237, 11146, 2833, 2620, 3900, 2750,
       3993, 3103, 14583, 4053, 3927, 2301, 1811, 3158, 2600, 3704, 4124,
       9508, 3075, 4400, 3153, 2383, 6875, 4666, 5000, 2014, 1800, 5000,
       1625, 4000, 3762, 2400, 20233, 2917, 2927, 2507, 3399, 3717, 10000,
       2400, 4342, 15000, 8666, 4917, 5818, 4333, 2500, 4384, 2935, 2500,
       4160, 2647, 2378, 4554, 3173, 2499, 3083, 2625, 9083, 8750, 2666,
       5500, 2423, 8333, 3875, 3000, 5167, 4723, 5000, 4750, 6822, 6216,
       2500, 6325, 19730, 15759, 5185, 9323, 3062, 4817, 8750, 3069, 5391,
       5941, 6000, 7167, 4566, 2346, 2333, 5488, 9167, 9504, 1993, 3100,
       3180, 3033, 3902, 1500, 2889, 2755, 2500, 1963, 7441, 4547, 2167,
       2213, 8300, 81000, 3867, 6096, 2253, 2149, 2995, 2600, 1600, 1025,
       3246, 5829, 1820, 14880, 2666, 4606, 5935, 2920, 2717, 8624, 6500,
       2425, 3750, 1926, 10416, 7142, 3660, 7901, 4707, 37719, 3466, 4652,
       3340, 2309, 3948, 2483, 7085, 3859, 4301, 3708, 4354, 8334, 7740,
       3015, 4166, 6000, 2947, 4333, 3450, 2653, 4691, 5532, 16525, 6700,
       16667, 4350, 3095, 2083, 10833, 8333, 1958, 3547, 18333, 4583,
       2435, 3691, 17263, 3597, 3326, 2600, 2895, 6283, 645, 3159, 4865,
       3814, 3510, 2479, 13262, 3598, 6065, 3283, 2130, 5815, 3466, 2031,
       4683, 3400, 2192, 2500, 5677, 7948, 17500, 3775, 5285, 2679, 6783,
       4281, 3588, 18165, 6133, 3617, 2917, 6417, 4608, 2138, 2239, 2768,
       3358, 2526, 5000, 2785, 3333, 2454, 3593, 5468, 10139, 3887, 4180,
       3675, 19484, 5923, 5800, 8799, 3333, 3400, 2378, 3166, 3417, 16666,
       6125, 6406, 3159, 3229, 1782, 6540, 1836, 3166, 2787, 4283, 2297,
       2165, 2726, 3000, 6000, 3859, 16120, 3833, 6383, 9963, 5780, 5703,
       3676, 12000, 3400, 3987, 3232, 2900, 4106, 8072, 7583, 4583],
      dtype=object)

In [67]:
x_train, x_test, y_train, y_test = model_selection.train_test_split(X, Y, test_size=0.2, random_state=7)

In [68]:
x_train

array([[3522, 0.0, 81, 180, 1],
       [6000, 0.0, 141, 360, 1],
       [3333, 0.0, 70, 360, 1],
       ...,
       [3500, 1667.0, 114, 360, 1],
       [3427, 0.0, 138, 360, 1],
       [6250, 0.0, 128, 360, 1]], dtype=object)

In [69]:
y_train

array([0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0,
       0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0,
       1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0,
       1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 1, 0, 1])

In [70]:
# Decision tree : Decision tree is a type of supervised learning algorithm (having a pre-defined target variable) that is mostly used in classification problems. It works for both categorical and continuous input and output variables

model = DecisionTreeClassifier()
model.fit(x_train,y_train)
predictions = model.predict(x_test)
print(accuracy_score(y_test, predictions))

0.625

In [71]:
# Logistic Regression : Logistic Regression is a classification algorithm. It is used to predict a binary outcome (1 / 0, Yes / No, True / False) given a set of independent variables. To represent binary / categorical outcome, we use dummy variables
model = LogisticRegression()
model.fit(x_train,y_train)
predictions = model.predict(x_test)
print(accuracy_score(y_test, predictions))

0.7708333333333334

In [72]:
# Random forest : Random forests or random decision forests are an ensemble learning method for classification, regression and other tasks, that operate by constructing a multitude of decision trees at training time and outputting the class that is the mode of the classes (classification) or mean prediction (regression) of the individual trees
model = RandomForestClassifier(n_estimators=100)
model.fit(x_train,y_train)
predictions = model.predict(x_test)
print(accuracy_score(y_test, predictions))

0.7395833333333334